:root {
    --color-white: #fff;
    --color-white2: #b9b9b9;
    --color-blue: rgb(0, 0, 255);
    --color-blue2: rgb(76, 93, 168);
    --color-blue4:rgb(8, 8, 124);
    --color-dark: #000;
    --color-dark2: #575656;
    --color-dark3: #1f1c1c;
    --color-blue3: #2691e9;
    --color-yellow: rgb(255, 255, 0);
    --color-red: red;
    --color-green: rgb(4, 255, 0);
    --color-orange: rgb(255, 166, 0);
    --color-orange2: rgb(235, 189, 114);

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    word-wrap: break-word;
    overflow-wrap: break-word;
    background: var(--color-white2);
}
html {
    scroll-behavior: smooth;
}
                                                                                             
#container-menu {
    width: 100%;
    height: 5rem;
    padding: 0 3rem;
    background: var(--color-blue4);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    z-index: 9999;
    box-shadow: 0 0 .8rem var(--color-dark);
}
#nav  {
    padding-top: 1rem;
}
#menu li a {  
    color: var(--color-white);
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Poppins', !important;
    padding: .4rem;
    position: relative;
}

#nav ul li {
    list-style: none;
    transition: 2s;
}
#menu {
    display: flex;
    gap: 2.5rem;
}
li .nav-menus::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: var(--color-white);
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}
li .nav-menus:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}
#menu-contato {
    display: flex;
    gap: .8rem;
    padding-top: 1rem;
}
#menu-contato a, li{
    text-decoration: none;
    list-style: none;
}
.image-contato {
    width: 1.8rem;
    transition: .5s;
    border-radius: .2rem;
    
}
.image-contato:hover {
    transform: scale(1.1);
    box-shadow: 0 0 .3rem var(--color-blue2);
}
#btn-mobile{
    display: none;
}
#home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carousel-inner {
    height:100vh;
}
.parallax {
    position: relative;
    top: -25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo-1 {
    color: var(--color-white);
    text-shadow: 0 0 .5rem var(--color-blue4);
    font-weight: 900;
    padding-bottom: 2rem;
    font-family: 'hatsch';
}



@media (max-width: 800px) {
#carouselExampleSlidesOnly {
    display: none;
}
.image-logo {
    width: 5rem;
}
#container-menu{
    height: 4rem;
    justify-content: space-between;
}
#menu {
    display: block;
    position: absolute;
    width: 50%;
    top: 3.9rem;
    right: 0;
    background: var(--color-blue4);
    height: 0;
    z-index: 9999;
    border-bottom-left-radius: 0.5rem;
    transition: .6s;
    visibility: hidden ;
    overflow-y: hidden;
    padding-left: .5rem;
}
#menu li a {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}
#menu-contato {
    display: none;
}
#nav.active #menu{
    height: 30vh;
    visibility: visible;
}
#btn-mobile {
    display: flex;
    margin-bottom: 1rem;
    padding: .5rem 1rem;
    border: none;
    background: none;
    color: var(--color-white);
    font-weight: 500;
    gap: .5rem;
}
#hamburguer {
    width: 20px;
    border-top:2px solid ;
}
#hamburguer::after, #hamburguer::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: var(--color-white);
    margin-top: 5px;
    transition: .3s;
    position: relative;
}
#nav.active #hamburguer {
    border-top-color: transparent;
}
#nav.active #hamburguer::before {
    transform: rotate(135deg);
}
#nav.active #hamburguer::after{
    transform: rotate(-135deg);
    top: -7px;
}
#wrapper {
    width: 100%;
    min-height: 100vh;
}
#home {
    width:100%;
    min-height: 100vh;
}
.parallax {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-position: 50% 50%;
}
.parallax::after {
    content: '';
    width: 100%;
    height: 100vh;
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0) 110%);
}
.parallax-1 {
    background-size: cover;
    background-image: url(../image/background3.jpg);
}
.titulo-1 {
    font-weight: 900;
    font-size: 2rem;
    text-align: center;
    color: var(--color-white);
    text-shadow: 0 0 .5rem var(--color-blue4);
}
#btn-1 {
    margin-top: 2rem;
    background: var(--color-orange);
    width: 15rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    z-index: 88;
    transition: .4s;
}
.btn-1, .btn-2, .btn-3 {
    color: var(--color-white);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    z-index: 100;
}
#btn-1:hover, #btn-2:hover, #btn-3:hover {
    transition: .5s;
    background-color: var(--color-orange2);
}
.content {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.seta {
    position: relative;
    display: flex;
    justify-content: center;
    top: -2rem;
}
.paragrafo-1 {
    position: relative;
    top: -5rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--color-dark2);
}
#btn-2 {
    background: var(--color-orange);
    position: relative;
    top: -4rem;
    width: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    border-radius: .4rem;
    transition: .4s;
}
#projetos {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card {
    margin-bottom: 1rem;
}
.card-body {
    display: flex;
    flex-direction: column;
    font-size: .92rem;
}
#apresentacao {
    width: 100%;
    height: 80vh;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    background-image: url(../image/background1.jpg);
    background-size: cover;
}
#apresentacao::after {
    content: '';
    width: 100%;
    height: 80vh;
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0) 180%);
}
#explicacao {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo-2{
    padding: 0 0 1rem 1rem;
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--color-white);
    text-shadow: 0 0 .2rem var(--color-blue4);
}
.paragrafo-2 {
    color: var(--color-white);
    text-shadow: 0 0 0.5rem var(--color-blue4);
    font-size: 1.1rem;
    font-weight: 500;
    padding-left: .5rem;
}
#btn-3 {
    width: 16rem;
    height: 2.5rem;
    background: var(--color-orange);
    border-radius: .4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sobre{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#sobre h2 {
    display: inline-block;
    background: linear-gradient(to right, white 20%, green 0);
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 2rem;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    text-align: center;
    padding: 5rem 0 1.2rem 0;
}
.container p {
    padding: 1rem .5rem 0 .5rem;
    font-size: 1.1;
    font-weight: 600;
    color: var(--color-dark3);
}
.container-img img {
    width: 20rem;
    border-radius: .5rem;
}
footer {
    width: 100%;
    height: 25vh;
    background: var(--color-dark3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.rede-sociais {
    gap: .8rem;
    display: flex;
}
footer p {
    color: var(--color-white);
}
}   

