:root {
    --color-white: #fff;
    --color-blue: rgb(0, 0, 255);
    --color-blue2: rgb(76, 93, 168);
    --color-blue4:rgb(8, 8, 124);
    --color-dark: #000;
    --color-dark2: #575656;
    --color-blue3: #2691e9;
    --color-yellow: rgb(255, 255, 0);
    --color-red: red;
    --color-green: rgb(4, 255, 0);
    --color-orange: rgb(255, 166, 0);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
html {
    scroll-behavior: smooth;
}

#container-menu {
    width: 100%;
    height: 5rem;
    padding: 0 3rem;
    background: var(--color-blue4);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    z-index: 9999;
    box-shadow: 0 0 .8rem var(--color-dark);
}
#nav  {
    padding-top: 1rem;
}
#menu li a {  
    color: var(--color-white);
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Poppins', !important;
    padding: .4rem;
    position: relative;
}

#nav ul li {
    list-style: none;
    transition: 2s;
}
#menu {
    display: flex;
    gap: 2.5rem;
}
li .nav-menus::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: var(--color-white);
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}
li .nav-menus:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}
#menu-contato {
    display: flex;
    gap: .8rem;
    padding-top: 1rem;
}
#menu-contato a, li{
    text-decoration: none;
    list-style: none;
}
.image-contato {
    width: 1.8rem;
    transition: .5s;
    border-radius: .2rem;
    
}
.image-contato:hover {
    transform: scale(1.1);
    box-shadow: 0 0 .3rem var(--color-blue2);
}
#btn-mobile{
    display: none;
}
.wrapper {
    width: 100%;
    margin: 0 auto;
}
main {
    display: block;
    background-color: var(--color-white);
}
.container {
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;
}
section.module p {
    margin-bottom: 40px;
}
section.module:last-child {
    margin-bottom: 0;
}
section.module h2 {
    margin-bottom: 40px;
}
section.module.content {
    padding: 40px 0;
    background: var(--color-white);
    width: 100%;
    height: 50vh;
}
section.module.parallax {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh!important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
section.module.parallax::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 10;
    background: -moz-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, var(--color-dark) 100%);;
    background: -webkit-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, var(--color-dark) 100%);;
    background: -o-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, var(--color-dark) 100%);;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, var(--color-dark) 100%);

}
section.module.parallax-1 {
    background-image: url(../image/background1.jpg);
}
.titulo-1 {
    text-align: center;
    font-size: 2.5rem;
    text-shadow: 0 0 .5rem var(--color-blue4);
    color: var(--color-white);
    font-family: 'Holtwood One SC', serif;
}
#btn-1 {
    height: 2.5rem;
    width: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .8rem;
    margin-top: 2rem;
    background: var(--color-orange);
    z-index: 100;
}
#btn-1:hover {
    transition:.5s;
    transform: scale(1.2);
    box-shadow: 0 0 .2rem var(--color-white);
}
.btn-1 {
    font-weight: 900;
    text-decoration: none;
    color: var(--color-white);
}






@media(max-width: 800px) {
    .image-logo {
        width: 5rem;
    }
    #container-menu{
        justify-content: space-between;
    }
    #menu {
        display: block;
        position: absolute;
        width: 50%;
        top: 5rem;
        right: 0;
        background: var(--color-blue4);
        height: 0;
        z-index: 9999;
        border-bottom-left-radius: 0.5rem;
        transition: .6s;
        visibility: hidden ;
        overflow-y: hidden;
        padding-left: .5rem;
    }
    #menu li a {
        display: flex;
        justify-content: space-between;
        font-size: 1.2rem;
    }
    #menu-contato {
        display: none;
    }
    #nav.active #menu{
        height: 30vh;
        visibility: visible;
    }
    #btn-mobile {
        display: flex;
        margin-bottom: 1rem;
        padding: .5rem 1rem;
        border: none;
        background: none;
        color: var(--color-white);
        font-weight: 500;
        gap: .5rem;
    }
    #hamburguer {
        width: 20px;
        border-top:2px solid ;
    }
    #hamburguer::after, #hamburguer::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: var(--color-white);
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    #nav.active #hamburguer {
        border-top-color: transparent;
    }
    #nav.active #hamburguer::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburguer::after{
        transform: rotate(-135deg);
        top: -7px;
    }
}                                                                                                                                                                                
